@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
  font-family: 'Hubballi', cursive;
  font-size: 20px;
}

body {
  background-image: url("https://c.tenor.com/IvyuPtEfzhoAAAAC/matrix.gif");
  background-clip: content-box;
  width: 100vw;
  height: 100vh;
}

.content {
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info img {
  width: 16%;
  border-radius: 50%;
  margin-top: 20px;
}

.info h2 {
  font-size: 35px;
  color: #fff;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.links__objects {
  font-weight: 600;
  color: #000;
  width: 250px;
  height: 35px;
  padding: .5em;
  margin: .6em;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  border-radius: 1em;
}

.links__objects p {
  align-self: center;
}

.links__objects i {
  align-self: center;
  padding-right: .5em;
}

#objects-ig {
  background-image: linear-gradient(20deg, #FFDC80,#E1306C, #833AB4);
}

#objects-in {
  background-color: #0077b5;
  opacity: 1;
}

#objects-gh {
  background-color: rgba(2, 2, 142, 0.467);
  color: #fff;
}

.p {
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  color: #fff;
  font-size: 1.1em;
}

@media only screen and (max-width: 500px) {
  .info img {
      width: 150px;
  }

  .info h2 {
      font-size: 30px;
  }
  
  .objects {
      width: 230px;
      height: 35px;
      margin: .6em;
  }
}